name: riber

services:
  postgres:
    image: pgvector/pgvector:pg18
    container_name: riber-pgsql-dev
    environment:
      POSTGRES_DB: riber_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
    ports:
      - "5432:5432"
    volumes:
      - data-dev:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build:
      context: .
      dockerfile: Dockerfile
      target: runtime
    container_name: riber-api-dev
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8080:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: Host=postgres;Database=riber_db;Username=postgres;Password=root
      OTEL_EXPORTER_OTLP_ENDPOINT: http://dashboard:18889
      RabbitMQ__Host: "amqp://rabbitmq:5672"
      RabbitMQ__Username: "admin"
      RabbitMQ__Password: "admin123"
  
  rabbitmq:
    image: rabbitmq:4.2.0-management-alpine
    container_name: riber-rabbitmq-dev
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin123
      RABBITMQ_DEFAULT_VHOST: /
    restart: unless-stopped

volumes:
  data-dev:
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_logs:

networks:
  default:
    name: network-dev